<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>{{ title }}{% if title != "Project Misfits" %} | Project Misfits{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="The website of Project Misfits"/>
        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>