---
layout: layouts/base.njk
permalink: "/game/pre-prod/background/"
title:Background: Inspiration, Research, Investigation
---

<h1 class="text-2xl font-bold mb-4">Background: Inspiration, Research, Investigation</h1>
<p class="mb-4">Before the start of our development period, we conducted background research to investigate topics related to the project and to try and find inspiration for the game. Here is what we found!</p>

<h2 class="font-semibold text-xl underline mb-2">Investigation Week Presentation</h2> 
<div class="flex justify-center mb-8"> 
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRMvnKpm8cwxndySSm26nW0X2KRslBzNf7V0LiNdFLvtWu9ILM50IDt_7IZ_q9XVADzMe2lRQEhfIHh/pubembed?start=true&loop=true&delayms=5000" frameborder="0" width="100%" height="400" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>

<h2 class="font-semibold text-xl underline mb-2">Investigation Week Write Up</h2>
<div class="border border-grey-300 rounded-lg shadow-lg text-right mb-8">
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vQkLy6lNjaJapH85q-xn9JJbHe1UaMHUvQuMmNonHw0gzPLX35c8pN610k3J3WPKyHJ600Pnck5UaB2/pub?embedded=true" width="618" height="800"></iframe>
    <a class="text-blue-600 hover:text-blue-800 text-right" href="https://docs.google.com/document/d/1GaMKOwlZhw-Uzc4CCct_5-Vcw5w-a0lpqzH0ROp14KQ/edit?usp=sharing" target="_blank">Link to Full Document</a> 
</div>

<h2 class="font-semibold text-xl underline mb-2">Design Inspirtaion Chart</h2>
<div class="border border-grey-300 rounded-lg shadow-lg text-right mb-8">
    <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQW1vOvvyjpH6ELbzh_l7ErQhrCQh34PykZJOhnG0KbNryx0q8MVmklk1RGFEoHl7YD4yQwS8cVtKcP/pubhtml?widget=true&amp;headers=false" width="618" height="800"></iframe>
        <a class="text-blue-600 hover:text-blue-800 text-right" href="https://docs.google.com/spreadsheets/d/1ha8by4XoL8G6eK8Y3wUfDVcwSbQAyu7JoH-F00uOMkw/edit?usp=sharing" target="_blank">Link to Full Document</a> 

</div>

<h2 class="font-semibold text-lg underline mb-2">Investigation Week Bibliography</h2>
<div class="border border-grey-300 rounded-lg shadow-lg text-right">
    <iframe src="https://docs.google.com/document/d/e/2PACX-1vSjDJNT0mxFodkqcUTt_3X7b8L9OuXi3NyxqwVTSq2AA83XnUGJp4kE5cSEXy2Y8_QCi877deP6QUEc/pub?embedded=true" width="618" height="800"></iframe>
    <a class="text-blue-600 hover:text-blue-800 text-right" href="https://docs.google.com/document/d/1ahUXvS6hFDZug042JLAe3r2iOJeYUhMC_CcZS93dipY/edit?usp=sharing" target="_blank">Link to Full Document</a> 
</div>