---
layout: layouts/base.njk
permalink: "/game/"
title: About the Game
---

<h1 class="text-2xl font-bold mb-4">About Leaves of Fate</h1>
<div class="flex flex-wrap justify-center gap-4 mb-2">
    <img src="/assets/marketing/Banner.png" alt="Project Misfits Game Banner">
</div>

<p class="text-lg mt-6">In Leaves of Fate, play as a young kid named Fenn who has always dreamed of becoming a Great Knight. During a visit to the palace, you discover that nefarious wizards have sealed the Knights away. Now it's up to you to save them.</p>
<div class="flex justify-center gap-4">
  <div class="flex flex-wrap justify-center gap-4 mb-4">
      <a href="" class="mt-4 px-8 py-2 border border-green-700 dark:border-green-800 bg-green-100 dark:bg-green-900/20 hover:bg-green-200 dark:hover:bg-green-900/30 text-green-600 dark:text-green-200 rounded-lg transition-colors">
        ⬇️ Download the Game for Windows (add zip)
      </a>
  </div>
  <div class="flex flex-wrap justify-center gap-4 mb-4">
      <a href="/releases/release7" class="mt-4 px-8 py-2 border border-purple-700 dark:border-purple-800 bg-purple-100 dark:bg-purple-900/20 hover:bg-purple-200 dark:hover:bg-purple-900/30 text-purple-600 dark:text-purple-200 rounded-lg transition-colors">
        🎮 Download for Your Operating System
      </a>
  </div>
</div>

<div class="p-4 border border-slate-400 dark:border-slate-800 bg-slate-200 dark:bg-slate-900 rounded-lg  mt-4">
  <h2 class="text-xl font-bold mb-4">Check Out the Game</h2>
  <div class="flex flex-wrap justify-center gap-4 mb-2 mt-4">
      <img class="w-3/4" src="/assets/game/greathall.JPG" alt="Great Hall Door">
  </div>
  <p class="mt-8 text-lg">Finally, after plenty of fanmail, you receive an invitation to the capital city to meet the Knights and experience the grandeur of the Bay Leaf Palace.</p>

  <div class="flex flex-wrap justify-center gap-4 mb-2 mt-8 mb-8">
      <img class="w-3/4" src="/assets/game/az.JPG" alt="Meet Az">
  </div>
  <p class="mt-8 text-lg">Team up with Az, the fire-breathing blacksmith apprentice and daughter of a Great Knight searching for a way to free her father.</p>

  <div class="flex flex-wrap justify-center gap-4 mb-2 mt-8">
      <img class="w-3/4" src="/assets/game/icy.gif" alt="Icy Challenge">
  </div>
  <p class="mt-8 text-lg">Navigate the Cellar to find the Wizard who has taken it over, covering it in ice and snow.</p>

  <div class="flex flex-wrap justify-center gap-4 mb-2 mt-8">
      <img class="w-3/4" src="/assets/game/windzones.gif" alt="Wind Zones Challenge">
  </div>
  <p class="mt-8 text-lg">Chain together fluid movement and avoid obstacles to reach Az’s Workshop and stop the Wizard’s plan.</p>

  <div class="flex flex-wrap justify-center gap-4 mb-2 mt-8">
      <img class="w-3/4" src="/assets/game/dialogue.JPG" alt="Chatting with the Wizard">
  </div>

  <div class="flex items-center mt-8">
    <img class="w-24" src="/assets/game/Fenn-StarryEyed-CharacterProfile-001.png" alt="Starry Eyed Fenn">
    <p class="text-2xl italic">“We have to help them! ADVENTURE AWAITS!!”</p>
  </div>
</div>

<h2 class="text-xl font-bold mb-4 mt-4">Making the Game</h2>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-8">
    <!-- Pre-Production -->
    <div class="bg-orange-50 dark:bg-orange-900/20 rounded-lg p-6 border border-orange-200 dark:border-orange-800 md:col-span-2">
        <h2 class="text-lg font-semibold mb-4 text-orange-800 dark:text-orange-200">📄 Pre-Production</h2>
        <p>Check out how we prepared for development!</p> 
        <a href="/game/pre-prod/" class="text-md text-orange-600 dark:text-orange-300"> Learn More </a>
    
    </div>

    <!-- Production -->
    <div class="bg-teal-50 dark:bg-teal-900/20 rounded-lg p-6 border border-teal-200 dark:border-teal-800 md:col-span-2">
        <h2 class="text-lg font-semibold mb-4 text-teal-800 dark:text-teal-200">📝 Production</h2>
        <p>Take a high-level look at the dev process!</p> 
        <a href="/game/prod/" class="text-md text-teal-600 dark:text-teal-300"> Learn More </a>
    </div>
</div>

<h3 class="text-lg font-bold mb-4">Production Domains</h3>
<p> Learn more about the six production domains that make up the game. Each domain houses a critical piece.</p>
<div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4 mb-8">
  <a href="/game/art/" class="block p-4 bg-rose-50 dark:bg-rose-900/20 rounded-lg hover:bg-rose-100 dark:hover:bg-rose-900/30 transition-colors">
    <div class="text-2xl mb-2">🎨</div>
    <h3 class="font-semibold text-rose-800 dark:text-rose-200">Art</h3>
    <p class="text-sm text-rose-600 dark:text-rose-300">All about art</p>
  </a>
  
  <a href="/game/audio/" class="block p-4 bg-green-50 dark:bg-green-900/20 rounded-lg hover:bg-green-100 dark:hover:bg-green-900/30 transition-colors">
    <div class="text-2xl mb-2">🔊</div>
    <h3 class="font-semibold text-green-800 dark:text-green-200">Audio</h3>
    <p class="text-sm text-green-600 dark:text-green-300">Inside audio</p>
  </a>
  
  <a href="/game/design/" class="block p-4 bg-orange-50 dark:bg-orange-900/20 rounded-lg hover:bg-orange-100 dark:hover:bg-orange-900/30 transition-colors">
    <div class="text-2xl mb-2">💡</div>
    <h3 class="font-semibold text-orange-800 dark:text-orange-200">Design</h3>
    <p class="text-sm text-orange-600 dark:text-orange-300">Everything design</p>
  </a>
  <a href="/game/narrative/" class="block p-4 bg-purple-50 dark:bg-purple-900/20 rounded-lg hover:bg-purple-100 dark:hover:bg-purple-900/30 transition-colors">
    <div class="text-2xl mb-2">✒️</div>
    <h3 class="font-semibold text-purple-800 dark:text-purple-200">Narrative</h3>
    <p class="text-sm text-purple-600 dark:text-purple-300">The story behind it all</p>
  </a>
  
  <a href="/game/playtesting/" class="block p-4 bg-yellow-50 dark:bg-yellow-900/20 rounded-lg hover:bg-yellow-100 dark:hover:bg-yellow-900/30 transition-colors">
    <div class="text-2xl mb-2">🔨</div>
    <h3 class="font-semibold text-yellow-800 dark:text-yellow-200">Playtesting</h3>
    <p class="text-sm text-yellow-600 dark:text-yellow-300">Feedback and more feedback</p>
  </a>
  
  <a href="/game/tech" class="block p-4 bg-blue-50 dark:bg-blue-900/20 rounded-lg hover:bg-blue-100 dark:hover:bg-blue-900/30 transition-colors">
    <div class="text-2xl mb-2">💻</div>
    <h3 class="font-semibold text-blue-800 dark:text-blue-200">Tech</h3>
    <p class="text-sm text-blue-600 dark:text-blue-300">All things tech</p>
  </a>
</div>

<h3 class="text-lg font-bold mb-4">🎀 Marketing</h3>
<p>Marketing was also a major part of our production process. Read all about it <a href="/game/marketing/" class="text-md text-fuchsia-600 dark:text-fuchsia-300">here</a>!</p>