---
layout: layouts/base.njk
permalink: "/resources/"
title: Development Resources
---

<h1 class="text-2xl font-bold mb-4">Development Resources</h1>
<p class="text-gray-600 dark:text-gray-400 mb-6">Here is a comprehensive list of all of the resources, tools, APIs, assets, and other things that we used to make our game and our website.</p>

<section class="space-y-2">
  <h2 class="text-xl font-semibold underline">Tools</h2>
  <div>
    <h3 class="text-lg font-semibold">Game Engine + Addons</h3>
    <ul class="list-disc pl-6">
      <li><a class="text-blue-600 dark:text-blue-400 hover:underline" href="https://godotengine.org/">Godot Engine</a> — Free, open-source game engine.</li>
      <li><a class="text-blue-600 dark:text-blue-400 hover:underline" href="https://phantom-camera.dev/">Phantom Camera</a> — An addon that enhances the Godot camera.</li>
      <li><a class="text-blue-600 dark:text-blue-400 hover:underline" href="https://github.com/nathanhoad/godot_dialogue_manager">Godot Dialogue Manager</a> — An addon that provides a stateless branching dialgoue editor and runtime.</li>
      <li><a class="text-blue-600 dark:text-blue-400 hover:underline" href="https://github.com/limbonaut/limboai">LimboAI</a> — Behavior trees and state machines for Godot 4.</li>
    </ul>
  </div>

  <div>
    <h3 class="text-lg font-semibold">Art & UI</h3>
    <ul class="list-disc pl-6">
      <li><a class="text-blue-600 dark:text-blue-400 hover:underline" href="https://procreate.com/">Procreate</a> — App for digitial art.</li>
      <li><a class="text-blue-600 dark:text-blue-400 hover:underline" href="https://inkscape.org/">Inkscape</a> — Free vector image design tool.</li>
    </ul>
  </div>

 <div>
   <h3 class="text-lg font-semibold">Web Development</h3>
    <ul class="list-disc pl-6">
      <li><a class="text-blue-600 dark:text-blue-400 hover:underline" href="https://www.11ty.dev/">Eleventy</a> — Static site generator with a small, flexible core.</li>
      <li><a class="text-blue-600 dark:text-blue-400 hover:underline" href="https://github.com/brennanbrown/11ty-Indie-Web-Blog-Starter">11ty Indie Web Blog Starter</a> — 11ty template/starter code.</li>
    </ul>
  </div>
</section>

<section class="space-y-2 mt-8">
  <h2 class="text-xl font-semibold underline">Assets</h2>
  <div>
    <h3 class="text-lg font-semibold">Art & UI</h3>
    <ul class="list-disc pl-6">
      <li>
        <a class="text-blue-600 dark:text-blue-400 hover:underline" href="https://amorphous.itch.io/beholden">Beholden</a> — Game font.
        <ul class="pl-6">
          <li>Behold Font by Amorphous <br> https://amorphous.itch.io/beholden <br> License: SIL Open Font License</li>
        </ul>
      </li>
      <li>
        <a class="text-blue-600 dark:text-blue-400 hover:underline" href="https://www.1001fonts.com/zt-mota-font.html">ZT Mota</a> — Logo font.
        <ul class="pl-6">
          <li>ZT Mota Font by Zelow Type <br> https://www.1001fonts.com/zt-mota-font.html <br> License: 1001Fonts Free For Commercial Use License (FFC)</li>
        </ul>
      </li>
    </ul>
  </div>

  <div>
    <h3 class="text-lg font-semibold">Audio</h3>
    <ul class="list-disc pl-6">
      <div class="rounded-lg border border-gray-200 mt-2">
      <table class="table-auto border border-collapsed">
        <tr>
            <th class="border border-gray-300 p-2 font-semibold">Name</th>
            <th class="border border-gray-300 p-2 font-semibold">Type</th>
            <th class="border border-gray-300 p-2 font-semibold">Attribution</th>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Gravel Footsteps</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">Gravel Footsteps Pack by Ali_6868 – https://freesound.org/people/Ali_6868/packs/21608/ -- License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Joyful Game Loop - Kitty Yarn Play</td>
            <td class="border border-gray-200 p-2">Music</td?>
            <td class="border border-gray-200 p-2">Joyful Game Loop - Kitty Yarn Play by Visidy -- https://freesound.org/s/840648/ -- License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">04 Pollie Soft</td>
            <td class="border border-gray-200 p-2">Music</td?>
            <td class="border border-gray-200 p-2">04 pollie soft.mp3 by summonhue -- https://freesound.org/s/21685/ -- License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Knight's Footsteps on Gravel</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">Knight's Footsteps on Gravel Pack by Ali_6868 – https://freesound.org/people/Ali_6868/packs/21609/ -- License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Grassy Footsteps</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">Grassy Footsteps Pack by Ali_6868 – https://freesound.org/people/Ali_6868/packs/21607/ -- License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Knight's Forest Footsteps</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2"> Knight's Forest Footsteps by Ali_6868 – https://freesound.org/people/Ali_6868/packs/21610/ -- License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Arch Leaf</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2"> Arch Leaf.wav by bsumusictech -- https://freesound.org/s/62591/ -- License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Ambiance Stream Calm Loop Stereo</td>
            <td class="border border-gray-200 p-2">Ambiance</td?>
            <td class="border border-gray-200 p-2">Ambiance_Stream_Calm_Loop_Stereo.wav by Nox_Sound -- https://freesound.org/s/548373/ -- License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Spring Birds Loop with Low-Cut (New Jersey)</td>
            <td class="border border-gray-200 p-2">Ambiance</td?>
            <td class="border border-gray-200 p-2">Spring Birds Loop with Low-Cut (New Jersey) by hargissssound -- https://freesound.org/s/345852/ -- License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Drop - Water</td>
            <td class="border border-gray-200 p-2">Ambient Sound</td?>
            <td class="border border-gray-200 p-2">Drop - Water by mattfinarelli -- https://freesound.org/s/533146/ -- License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Birds Chirping 02</td>
            <td class="border border-gray-200 p-2">Ambient Sound</td?>
            <td class="border border-gray-200 p-2">Birds Chirping 02 by swiftoid -- https://freesound.org/s/182502/ -- License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Select</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">Select by TiesWijnen -- https://freesound.org/s/413310/ -- License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Text/Dialogue Bleeps Pack</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">Text/Dialogue Bleeps Pack by dmochas https://dmochas-assets.itch.io/dmochas-bleeps-pack – License: Creative Commons 4.0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Az Wood Footsteps</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">Work boots on wood floor by Stefan021 https://freesound.org/s/798870/ License: Creative Commons 0 </td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Fenn Wood Footsteps</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">WoodType_1_Footstep_MensDressShoe_.wav by monte32 https://freesound.org/s/405115/ License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Az Stone Footsteps</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">Hiking Boot Footsteps on Stone by Fission9 https://freesound.org/s/521590/ License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Fenn Stone Footsteps</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">Footsteps stone + sneaker by xkeril https://freesound.org/s/677069/ License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Az Coughing</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">four coughs.wav by Reitanna https://freesound.org/s/343986/ License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Fenn Snow Footsteps</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">snow footsteps (outside recording) by Nimlos https://freesound.org/s/432285/ License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Fenn Metal Footsteps</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">Footsteps on Metal Floor by nate_asdfg https://freesound.org/s/463811/ License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Az Breathing Fire</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">Fireball, Woosh, Pass, fast by julianmateo_ https://freesound.org/s/522705/ License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Winston Bleep</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">Ice cubes broken apart.wav by SDLx https://freesound.org/s/211158/ License: Attribution 3.0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Fenn Bleep</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">Cane_Hitting_Pavement_3.wav by Tdude9000 https://freesound.org/s/138295/ License: Attribution 3.0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Az Bleep</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">Lighter.wav by MaGs_007 https://freesound.org/s/349364/ License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">UI Quit</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">Wood Knock by Mrguff https://freesound.org/s/369710/ License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Interact</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">Wood Knock by Mrguff https://freesound.org/s/369710/ License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Az Metal Footsteps</td>
            <td class="border border-gray-200 p-2">Sound Effect</td?>
            <td class="border border-gray-200 p-2">Footsteps on Metal Floor by nate_asdfg -- https://freesound.org/s/463811/ -- License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Cold Wind</td>
            <td class="border border-gray-200 p-2">Ambiance</td?>
            <td class="border border-gray-200 p-2">air tone cold constant light wind +distant winter village sounds Quaqtaq, Nunavik1.flac by kyles -- https://freesound.org/s/450141/ -- License: Creative Commons 0</td>
        </tr>
        <tr>
            <td class="border border-gray-200 p-2">Ice Crystals</td>
            <td class="border border-gray-200 p-2">Ambiance</td?>
            <td class="border border-gray-200 p-2">Ice - Cristal cave by Vrymaa -- https://freesound.org/s/735353/ -- License: Creative Commons 0</td>
        </tr>
      </table>
      </div>
    </ul>
  </div>
</section>