---
layout: layouts/base.njk
permalink: "/timeline/"
title: Site Directory
---

<h1 class="text-2xl font-bold mb-4">Development Timeline</h1>
<p class="text-gray-600 dark:text-gray-400 mb-6">Take a look at our development and production timeline to see what goals we set for ourselves during pre-production.</p>

<div class="border border-gray-200 dark:border-gray-700 rounded-lg p-6 max-w-sm">
    <h2 class="font-semibold mb-2">Sprint 1: Set Up</h2>
    <p class="dark:text-gray-400">The goal of this week was to get all critical things set up and to onboard new contractors. </p>
    <details class="text-gray-600 dark:text-gray-400">
    <summary class="text-black dark:text-white">More on Set Up Week</summary>
    <p class="font-semibold">Systems Goals</p>
    <ul>
        <li>- Git repository</li>
        <li>- Systems design</li>
    </ul>
    <p class="font-semibold">Asset Goals</p>
    <ul>
        <li>- Art: concepting</li>
        <li>- Writing: 1st rough draft of beats & pacing + dialogue</li>
        <li>- Design: greyboxing level</li>
    </ul>
    <p class="font-semibold">Documentation Goals</p>
    <ul>
        <li>- Decide on form of paper</li>
        <li>- Game bibles (tech, art, narrative, audio, design)</li>
        <li>- Game asset listsl</li>
    </ul>
    <p class="font-semibold">Playtesting Goals</p>
    <ul>
        <li>- N/A</li>
    </ul>
    </details>
</div>

<div class="flex justify-end">
    <div class="border border-gray-200 dark:border-gray-700 rounded-lg p-6 max-w-sm">
        <h2 class="font-semibold mb-2">Sprint 2: Prototype</h2>
        <p class="dark:text-gray-400">The goal of this week was to have something that could be run (even if it was rough). </p>
        <details class="text-gray-600 dark:text-gray-400">
        <summary class="text-black dark:text-white">More on Prototype Week</summary>
        <p class="font-semibold">Systems Goals</p>
        <ul>
            <li>- All systesm exist (not necessarily glued together)</li>
        </ul>
        <p class="font-semibold">Asset Goals</p>
        <ul>
            <li>- Art: critical assets complete</li>
            <li>- Writing: all dialogue 1st draft</li>
            <li>- Audio: placeholder assets</li>
            <li>- Design: all challenges designed, all level challenges grayboxed</li>
            <li>- Marketing: playtesting advertisement</li>
        </ul>
        <p class="font-semibold">Documentation Goals</p>
        <ul>
            <li>- N/A</li>
        </ul>
        <p class="font-semibold">Playtesting Goals</p>
        <ul>
            <li>- Internal Playtesting: experience of navigating an area and talking to characters as Fenn</li>
        </ul>
        </details>
    </div>
</div>

<div class="border border-gray-200 dark:border-gray-700 rounded-lg p-6 max-w-sm">
    <<h2 class="font-semibold mb-2">Sprint 3: First Playable</h2>
    <p class="dark:text-gray-400">The goal of this week was to have something that could be played in some way, shape, or form. </p>
    <details class="text-gray-600 dark:text-gray-400">
    <summary class="text-black dark:text-white">More on First Playable Week</summary>
    <p class="font-semibold">Systems Goals</p>
    <ul>
        <li>- All systems integrated</li>
        <li>- First iteration of a fully complete game</li>
        <li>- Enough assets implemented for cohesive story</li>
    </ul>
    <p class="font-semibold">Asset Goals</p>
    <ul>
        <li>- Art: all character art complete</li>
        <li>- Writing: all dialogue second draft</li>
        <li>- Design: all challenges designed and locked</li>
        <li>- Marketing: list of potential game names</li>
    </ul>
    <p class="font-semibold">Documentation Goals</p>
    <ul>
        <li>- N/A</li>
    </ul>
    <p class="font-semibold">Playtesting Goals</p>
    <ul>
        <li>- Internal Playtesting: does core game loop align with pillars of game</li>
    </ul>
    </details>
</div>

<div class="flex justify-end">
    <div class="border border-gray-200 dark:border-gray-700 rounded-lg p-6 max-w-sm">
        <h2 class="font-semibold mb-2">Sprint 4: Minimum Viable</h2>
        <p class="dark:text-gray-400">The goal of this week was to have something you can play and get the semblence of a story. You see all the disceplines in one continuous sequence. </p>
        <details class="text-gray-600 dark:text-gray-400">
        <summary class="text-black dark:text-white">More on Minimum Viable Week</summary>
        <p class="font-semibold">Systems Goals</p>
        <ul>
            <li>- All systesm integrated</li>
            <li>- Critical assets implemented</li>
            <li>- Player locked in (only minor tweaks as necessary)</li>
            <li>- Level design only tweaked to match player tweaks</li>
        </ul>
        <p class="font-semibold">Asset Goals</p>
        <ul>
            <li>- Art: Environment tiles done, architecture decor, environment backgrounds, post processing and lighting effects done, ice cube and claw animation done</li>
            <li>- UI: all critical complete</li>
            <li>- Writing: iterate on narrative & dialogue</li>
            <li>- Audio: music first draft, find all sounds</li>
            <li>- Design: first draft of cellar level</li>
            <li>- Marketing: finalize name of game</li>
        </ul>
        <p class="font-semibold">Documentation Goals</p>
        <ul>
            <li>- website set up done</li>
        </ul>
        <p class="font-semibold">Playtesting Goals</p>
        <ul>
            <li>- External Playtesting: gameplay intitutive and immersive? narrative coherent?</li>
        </ul>
        </details>
    </div>
</div>


<div class="border border-gray-200 dark:border-gray-700 rounded-lg p-6 max-w-sm">
    <h2 class="font-semibold mb-2">Sprint 5: Feature Complete</h2>
    <p class="dark:text-gray-400">The goal of this week was to have all systems and design complete and locked in.</p>
    <details class="text-gray-600 dark:text-gray-400">
    <summary class="text-black dark:text-white">More on Feature Complete Week</summary>
    <p class="font-semibold">Systems Goals</p>
    <ul>
        <li>- All systems integrated and refined</li>
        <li>- All critical assets implemented and integrated</li>
        <li>- Bug logging begins</li>
    </ul>
    <p class="font-semibold">Asset Goals</p>
    <ul>
        <li>- Art: character animations done, all props finished and in engine</li>
        <li>- Writing: playtest and iterate narrative</li>
        <li>- Audio: all music second draft, all SFX edited and implemented</li>
        <li>- Marketing: logo</li>
    </ul>
    <p class="font-semibold">Documentation Goals</p>
    <ul>
        <li>- website 1st draft (all content but not formatted)</li>
    </ul>
    <p class="font-semibold">Playtesting Goals</p>
    <ul>
        <li>- External Playtesting: does everything fit together to create the desired player experience?</li>
    </ul>
    </details>
</div>

<div class="flex justify-end">
    <div class="border border-gray-200 dark:border-gray-700 rounded-lg p-6 max-w-sm">
        <h2 class="font-semibold mb-2">Sprint 6: Content Complete</h2>
        <p class="dark:text-gray-400">The goal of this week was to have a dev freeze meaning no more features added and only working on polish and bugs.</p>
        <details class="text-gray-600 dark:text-gray-400">
        <summary class="text-black dark:text-white">More on Content Complete Week</summary>
        <p class="font-semibold">Systems Goals</p>
        <ul>
            <li>- Asset integration</li>
            <li>- Bug logging</li>
        </ul>
        <p class="font-semibold">Asset Goals</p>
        <ul>
            <li>- Writing: iterate on narrative & dialogue</li>
            <li>- Audio: revisions on music, tweaking soundscape and mixing</li>
            <li>- Design: iterate and playtest</li>
        </ul>
        <p class="font-semibold">Documentation Goals</p>
        <ul>
            <li>- website 2nd draft (content more refined and formatted)</li>
        </ul>
        <p class="font-semibold">Playtesting Goals</p>
        <ul>
            <li>- QA Testing: what major or minor bugs, issues, and tweaks remain?</li>
        </ul>
        </details>
    </div>
</div>


<div class="border border-gray-200 dark:border-gray-700 rounded-lg p-6 max-w-sm">
    <h2 class="font-semibold mb-2">Sprint 7: Documentation Done</h2>
    <p class="dark:text-gray-400">The goal of this week was to only address QA results and to finalize all documentation.</p>
    <details class="text-gray-600 dark:text-gray-400">
    <summary class="text-black dark:text-white">More on Documentation Done Week</summary>
    <p class="font-semibold">Systems Goals</p>
    <ul>
        <li>- Polish and debugging</li>
    </ul>
    <p class="font-semibold">Asset Goals</p>
    <ul>
        <li>- Tweaks/adjustments based on playtesting feedback</li>
        <li>- Marketing: materials gathered/complete</li>
    </ul>
    <p class="font-semibold">Documentation Goals</p>
    <ul>
        <li>- website fully formatted</li>
    </ul>
    <p class="font-semibold">Playtesting Goals</p>
    <ul>
        <li>- QA Testing: what major or minor bugs, issues, and tweaks remain?</li>
    </ul>
    </details>
</div>

<div class="flex justify-end">
    <div class="border border-gray-200 dark:border-gray-700 rounded-lg p-6 max-w-sm">
        <h2 class="font-semibold mb-2">Sprint 8: Project Done</h2>
        <p class="dark:text-gray-400">The goal of this week was to finish everything.</p>
        <details class="text-gray-600 dark:text-gray-400">
        <summary class="text-black dark:text-white">More on Project Done Week</summary>
        <p class="font-semibold">Systems Goals</p>
        <ul>
            <li>- Polish and debugging</li>
        </ul>
        <p class="font-semibold">Asset Goals</p>
        <ul>
            <li>- Tweaks/adjustments based on playtesting feedback</li>
            <li>- Marketing: finalize any last materials</li>
        </ul>
        <p class="font-semibold">Documentation Goals</p>
        <ul>
            <li>- website revised and proofread</li>
        </ul>
        <p class="font-semibold">Playtesting Goals</p>
        <ul>
            <li>- QA Testing: what major or minor bugs, issues, and tweaks remain?</li>
        </ul>
        </details>
    </div>
</div>
