---
layout: layouts/base.njk
permalink: "/timeline/"
title: Development Timeline
---

<h1 class="text-2xl font-bold mb-4">Development Timeline</h1>
<p class="text-gray-600 dark:text-gray-400 mb-6">Take a look at our development timeline during production.</p>

<div class="bg-red-50 dark:bg-red-900/20 rounded-lg p-6 border border-red-200 dark:border-red-800 p-6 w-[50%]">
    <h2 class="font-semibold mb-2 text-red-800 dark:text-red-200">Sprint 1: Set Up</h2>
    <p class="dark:text-gray-400">The goal of Sprint 1 was to get settled in, set up Godot and our GitHub organization, and onboard our contractors.</p>
    <a href="/updates/sprint1/" class="text-red-600 dark:text-red-300">Read our Sprint 1 Dev Update here!</a>
</div>

<div class="flex justify-end">
    <div class="border bg-orange-50 dark:bg-orange-900/20 rounded-lg border-orange-200 dark:boarder-orange-800 p-6 w-[50%]">
        <h2 class="font-semibold mb-2 text-orange-800 dark:text-orange-200">Sprint 2: Prototype</h2>
        <p class="dark:text-gray-400">The goal of Sprint 2 was to get a runnable build with all of our major systems functioning, even if it was rough.</p>
        <a href="/updates/sprint2/" class="text-orange-600 dark:text-orange-300">Read our Sprint 2 Dev Update here!</a>
    </div>
</div>

<div class="border bg-yellow-50 dark:bg-yellow-900/20 rounded-lg border-yellow-200 dark:boarder-yellow-800 p-6 w-[50%]">
    <h2 class="font-semibold mb-2 text-yellow-800 dark:text-yellow-200">Sprint 3: First Playable</h2>
    <p class="dark:text-gray-400">The goal of Sprint 3 was to create a basic build that showed off the core gameplay loop of the project. </p>
    <a href="/updates/sprint3/" class="text-yellow-700 dark:text-yellow-300">Read our Sprint 3 Dev Update here!</a>
</div>

<div class="flex justify-end">
    <div class="border bg-green-50 dark:bg-green-900/20 rounded-lg border-green-200 dark:boarder-green-800 p-6 w-[50%]">
        <h2 class="font-semibold mb-2 text-green-800 dark:text-green-200">Sprint 4: Minimum Viable Product</h2>
        <p class="dark:text-gray-400">The goal of Sprint 4 get a build together that represented a minimum version of the project, featuring simple versions of all of our systems, assets, features, and content from every discipline.</p>
        <a href="/updates/sprint4/" class="text-green-600 dark:text-green-300">Read our Sprint 4 Dev Update here!</a>
    </div>
</div>

<div class="border bg-teal-50 dark:bg-teal-900/20 rounded-lg border-teal-200 dark:boarder-teal-800 p-6 w-[50%]">
    <h2 class="font-semibold mb-2 text-teal-800 dark:text-teal-200">Sprint 5: Feature Complete</h2>
    <p class="dark:text-gray-400">The goal of Sprint 5 was to have all of our systems and design completed and locked in for the build.</p>
    <a href="/updates/sprint5/" class="text-teal-600 dark:text-teal-300">Read our Sprint 5 Dev Update here!</a>
</div>

<div class="flex justify-end">
    <div class="border bg-blue-50 dark:bg-blue-900/20 rounded-lg border-blue-200 dark:boarder-blue-800 p-6 w-[50%]">
        <h2 class="font-semibold mb-2 text-blue-800 dark:text-blue-200">Sprint 6: Content Complete</h2>
        <p class="dark:text-gray-400">The goal of Sprint 6 was to get the build to a state where all of our disciplines were complete so we could pivot to polish and bugfixes.</p>
        <a href="/updates/sprint6/" class="text-blue-600 dark:text-blue-300">Read our Sprint 6 Dev Update here!</a>
    </div>
</div>

<div class="border bg-purple-50 dark:bg-purple-900/20 rounded-lg border-purple-200 dark:boarder-purple-800 p-6 w-[50%]">
    <h2 class="font-semibold mb-2 text-purple-800 dark:text-purple-200">Sprint 7: Documentation Done</h2>
    <p class="dark:text-gray-400">The goal of Sprint 7 was to have a complete build that allowed us to just address QA issues and finalize documentation.</p>
    <a href="/updates/sprint7/" class="text-purple-600 dark:text-purple-300">Read our Sprint 7 Dev Update here!</a>
</div>

<div class="flex justify-end">
    <div class="border bg-pink-50 dark:bg-pink-900/20 rounded-lg border-pink-200 dark:boarder-pink-800 p-6 w-[50%]">
        <h2 class="font-semibold mb-2 text-pink-800 dark:text-pink-200">Sprint 8: Project Done</h2>
        <p class="dark:text-gray-400">The goal of Sprint 8 was to get every remaining thing in before the deadline.</p>
        <a href="/updates/sprint8/" class="text-pink-600 dark:text-pink-300">Read our Sprint 8 Dev Update here!</a>
    </div>
</div>
